*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-weight: 900;
}

/*NAV BAR*/
nav{
    background-color: #e4e4e4;
    height: 8vh;
}
.logo{
    display: flex;
    justify-content: space-between;
}
.logo img{
    margin: -48px auto;
    height: 60px;
    width: 84px;
}
nav a{
    color: black;
}
i{
    color: black;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 30px;
}
main{
    display: flex;
    justify-content: center;
    height: 100%;
}

/*CARROUSEL*/
.col1, .col2 {
    width: 50%;
    height: 92vh; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    overflow: hidden; 
}

.col1 img{
    width: 100%;
}
.swiper {
    width: 100%;
    height: 100%; 
}
.swiper-slide img {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 100%;
    height: 100%;
}

/*LOGIN*/
.col2{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}
.col2 h1{
    display: flex;
    justify-content: center;
}
h1 {
    margin-bottom: 20px;
}
.button {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#google {
    background-color: #1a72e9;
    color: white;
}
#google:hover{
    background-color:   #2665ac; 
}
#facebook {
    background-color: #385999;
    color: white;
}
#facebook:hover{
    background-color:   #333baf;
}
#celular {
    background-color: #29d985;
    color: white;
}
#celular:hover{
    background-color:   #2daa65;
}
.button img {
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}