---
import Nav from '../components/Nav.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
---

<Layout isHomePage={false} title="RutaFinder-Actividades">
    <Nav/>
    <h1>actividades</h1>
    

    <Footer/>
</Layout>