---
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
import SliderDetalles from '../components/SliderDetalles.astro';
---


<Layout isHomePage={false} title="RutaFinder-Hoteles-Detalles">
    <Nav/>
 
    <div class="text-center">
       <h1 class="text-3xl font-bold mb-7">Desde Medellín: Guatape El Peñol con Barco, Desayuno y Almuerzo</h1>
       <span class="text-base text-gray-600">
        Visita la ciudad de Guatapé, situada a hora y media de Medellín, y contempla un mundo de color entre sus calles 
        adornadas con fachadas de azulejos. Da un relajante paseo en barco y disfruta de un almuerzo tradicional colombiano
       </span>
    </div>
 
    <SliderDetalles/>
        <!-- Section itinerarios -->
        <div class="flex flex-wrap justify-center mt-8">
            <article class="flex flex-col ml-4">
                <h1 class="text-3xl font-bold mb-4">Información general</h1>
                <strong class="text-lg font-semibold">Cancelación gratuita</strong>
                <span class="text-sm text-gray-600 mb-3">
                    Cancela con hasta 24 horas de antelación y recibe un reembolso completo
                </span>
                <strong class="text-lg font-semibold">Reservar ahora y pagar después</strong>
                <span class="text-sm text-gray-600 mb-3">
                    Planes flexibles: reserva tu plaza de inmediato, sin que se te haga el cargo
                </span>
                <strong class="text-lg font-semibold">Duración 10.5 horas</strong>
                <span class="text-sm text-gray-600 mb-3">
                    Comprueba la disponibilidad para ver los horarios de inicio.
                </span>
                <strong class="text-lg font-semibold">Guía</strong>
                <span class="text-sm text-gray-600 mb-3">
                    Español, Inglés
                </span>
                <strong class="text-lg font-semibold">Servicio de recogida opcional</strong>
                <span class="text-sm text-gray-600 mb-3">
                    Incluye el servicio de recogida en tu hotel en la zona de El Poblado. 
                    El tiempo máximo de espera en el hotel es de 5 minutos.
                </span>
            </article>
        
            <article class="flex flex-col bg-white rounded-2xl shadow-lg overflow-hidden max-w-md m-4 sm:w-full sm:max-w-xs sm:mt-6">
                <header class="flex w-full flex-col text-center py-2">
                    <strong class="text-lg font-semibold">Flyer</strong>
                    <img src="../img/Flyer.png" alt="Name Hotel" class="object-cover rounded-2xl mt-2">
                </header>
            </article>
        </div>
        
       <!-- historia y cultura -->
        <article class="flex flex-col px-4 md:px-3 lg:px-32 2xl:px-64 mx-auto">
            <h1 class="text-3xl font-bold mb-4 text-center mt-4">Historia y cultura</h1>
            <p class="text-sm text-gray-600">
              La Piedra del Peñol, también conocida como El Peñón de Guatapé, es uno de los sitios turísticos más emblemáticos de 
              Colombia. Esta inmensa roca monolítica, ubicada en el municipio de Guatapé, departamento de Antioquia, tiene una altura 
              de aproximadamente 220 metros y se ha convertido en un destino muy popular por su imponente presencia y las 
              increíbles vistas que ofrece de la región.
            </p>
            <strong class="text-lg font-semibold">Historia</strong>
            <p class="text-sm text-gray-600">
              La Piedra del Peñol tiene una historia que se entrelaza con las comunidades indígenas y la población 
              local. Antes de la llegada de los colonizadores españoles, la piedra era un sitio sagrado para las tribus 
              tahamíes que habitaban la región, quienes la consideraban un objeto de adoración.
              El nombre "Piedra del Peñol" proviene del municipio vecino El Peñol, aunque la piedra se 
              encuentra en el municipio de Guatapé, lo que ha generado algunas disputas sobre su pertenencia. En 1940, 
              un grupo de personas del municipio de Guatapé comenzó a subir la roca para marcarla como símbolo del pueblo, iniciando 
              a pintar las letras "G" y "U" en una de sus caras. Sin embargo, el trabajo no fue completado debido a la oposición de los habitantes de El Peñol.
              En 1954, la Piedra fue oficialmente escalada por primera vez. Los habitantes locales, especialmente la familia Villegas...

              <!-- Boton historia y cultura -->
              <div class="flex justify-center">               
                    <button class="mt-8 bg-blue-500 text-white w-36 rounded-xl hover:bg-blue-600">
                        Más detalles
                    </button> 
            </div>
            </p>
          </article>
           <!-- Explora el lugar con Google Maps -->

                    <!--Explicación de los parámetros en la URL del iframe de Google Maps:

            !1m18: Controla el tipo de mapa y el modo de visualización.
            !1m12: Define el número de capas y elementos superpuestos en el mapa.
            !1m3: Establece la cantidad de datos que se muestran en el mapa.

            1d3976.774438095018: Establece el nivel de zoom y el área general mostrada.
            2d-75.1750: Define la longitud (en grados) de la ubicación (aquí, Piedra del Peñol).
            3d6.2225: Define la latitud (en grados) de la ubicación.

            4f13.1: Define el nivel de inclinación del mapa (0 = plano; 13.1 = inclinación media).

            1sLa%20Piedra%20del%20Pe%C3%B1ol: Muestra el nombre del lugar en formato URL (La Piedra del Peñol).
            5e0: Define el tipo de visualización, en este caso, un mapa estándar (0).
            3m2!1sen!2sco: Configura el idioma del mapa (en inglés: `en`) y la región del mapa (Colombia: `co`).-->
            <div class="mb-5 flex flex-col justify-center items-center px-4 md:px-3 lg:px-32 2xl:px-64 mx-auto">
                <h1 class="text-3xl font-bold mb-8 text-center mt-8">Explora el lugar y sus puntos fuertes</h1>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1m3976.774438095018!2d-75.1750!3d6.2225
                    !2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f77db70d318f1%3A0xd758e0f59f1ae42b!2sLa%20
                    Piedra%20del%20Pe%C3%B1ol!5e0!3m2!1sen!2sco!4v1646330764399!5m2!1sen!2sco"
                    class="w-full h-[600px] rounded-2xl border-2 border-slate-300" allowfullscreen loading="lazy">
                </iframe>
            </div>
            <Footer/>
            
 </Layout>
