---
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import Carts from '../components/Carts.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout isHomePage={false} title="RutaFinder-Hoteles">
   <Nav/>

   <div class="text-center">
      <h1 class="text-3xl font-bold mb-4">Nuestras ciudades y hoteles</h1>
      <span class="text-base text-gray-600">
         La agencia selecciona cuidadosamente los hoteles para asegurar que los huéspedes 
         experimenten lo mejor de la cultura, la comodidad y el servicio local, 
         adaptado a diferentes gustos y presupuestos.
      </span>
   </div>

   <br />
<div class="flex flex-wrap justify-start align-center">
   <h1 class="text-3xl font-bold mb-4 mt-8 ml-4">Cartagena de Indias</h1>
   
   <div class="flex flex-wrap justify-center">
      <Carts />
      <Carts />
      <Carts />
      <Carts />
      <Carts />
      <Carts />
      <Carts />
      <Carts />
      <Carts />
      
   </div>

   <br />

   <h1 class="text-3xl font-bold mb-4 mt-8 ml-4">Cartagena de Indias</h1>
   
   <div class="flex flex-wrap justify-center">
      <Carts />
      <Carts />
      <Carts />
      <Carts />
      <Carts />
      <Carts />
      <Carts />
      <Carts />
      <Carts />
      
   </div>

   <Footer />
</Layout>
