---
import FooterOther from '../components/FooterOther.astro';
import Layout from '../layouts/Layout.astro';
import SliderIndex from '../components/SliderIndex.astro';
---

<Layout isHomePage={true} title="RutaFinder">
<main class="container mx-auto">
    <div class="titulo text-center mb-6">
        <h1 class="text-3xl font-bold mt-4">Explora la Magia de Nuestro Paraíso Colombiano</h1>
    </div>
    <div class="flex justify-center space-x-4 mb-6 sm:gap-16 md:gap-8 lg:gap-16">

        <!-- Actividades Button -->
        <a href="/actividades" class="w-32 h-32">
            <button class="border border-blue-500 rounded-lg w-full h-full p-4 flex flex-col items-center justify-center hover:bg-blue-500 transition-all bg-white">
                <img src="../img/logo-actividades.png" alt="actividades" class="w-12 h-12 mb-2">
                <span class="text-sm text-center">Actividades</span>
            </button>
        </a>
                <!-- Paquetes Button -->
        <a href="/paquetes" class="w-32 h-32">
            <button class="border border-blue-500 rounded-lg w-full h-full p-4 flex flex-col items-center justify-center hover:bg-blue-500 transition-all bg-white">
                <img src="../img/paquetes.png" alt="paquetes" class="w-12 h-12 mb-2">
                <span class="text-sm text-center">Paquetes todo en uno!!</span>
            </button>
        </a>
                <!-- Hoteles Button -->
        <a href="/hoteles" class="w-32 h-32">
            <button class="border border-blue-500 rounded-lg w-full h-full p-4 flex flex-col items-center justify-center hover:bg-blue-500 transition-all bg-white">
                <img src="../img/hotel.png" alt="hoteles" class="w-12 h-12 mb-2">
                <span class="text-sm text-center">Hoteles</span>
            </button>
        </a>

        <!-- Restaurantes Button -->
        <a href="/restaurantes" class="w-32 h-32">
            <button class="border border-blue-500 rounded-lg w-full h-full p-4 flex flex-col items-center justify-center hover:bg-blue-500 transition-all bg-white">
                <img src="../img/restaurante.png" alt="restaurantes" class="w-12 h-12 mb-2">
                <span class="text-sm text-center">Restaurantes</span>
            </button>
        </a>
    </div>
</main>
<SliderIndex/>
</main>
</Layout>
<FooterOther/>
