---
import FooterOther from '../components/FooterOther.astro';
import Layout from '../layouts/Layout.astro';
import SliderIndex from '../components/SliderIndex.astro';
---

<Layout isHomePage={true} title="Página Principal">
	<main class="container mx-auto">
    <div class="titulo text-center mb-6">
        <h1 class="text-3xl font-bold mt-4">Explora la Magia de Nuestro Paraíso Colombiano</h1>
    </div>
    <div class="flex justify-center space-x-4 mb-6 sm:gap-16 md:gap-8 lg:gap-16">
        <button class="border border-blue-500 rounded-lg p-4 hover:bg-blue-500 transition-all bg-white">
            <a href="/hoteles"><span class="flex flex-col items-center">
                <img src="../img/hotel.png" alt="hoteles" class="w-12 h-12 mb-2">
                Hoteles
            </span></a>
        </button>
        <button class="border border-blue-500 rounded-lg p-4 hover:bg-blue-500 transition-all bg-white">
            <a href="/actividades"><span class="flex flex-col items-center">
                <img src="../img/logo-actividades.png" alt="actividades" class="w-12 h-12 mb-2">
                Actividades
            </span></a>
        </button>
        <button class="border border-blue-500 rounded-lg p-4 hover:bg-blue-500 transition-all bg-white">
            <a href="/restaurantes"><span class="flex flex-col items-center">
                <img src="../img/restaurante.png" alt="restaurantes" class="w-12 h-12 mb-2">
                Restaurantes
            </span></a>
        </button>
        <button class="border border-blue-500 rounded-lg p-4 hover:bg-blue-500 transition-all bg-white">
            <a href="/paquetes"><span class="flex flex-col items-center">
                <img src="../img/paquetes.png" alt="hoteles" class="w-12 h-12 mb-2">
                Paquetes todo en uno!!
            </span></a>
        </button>
    </div>

    <!-- Barra de búsqueda -->
<div class="group relative w-full sm:max-w-xl md:max-w-2xl lg:max-w-3xl mx-auto mb-6">
    <a href="resultados.html" class="absolute top-3 left-3">
        <svg class="icon w-6 h-6 text-gray-500" aria-hidden="true" viewBox="0 0 24 24">
            <g>
                <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
            </g>
        </svg>
    </a>
    <input placeholder="Dónde ir, qué hacer, hoteles" type="search" class="input pl-10 w-full py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
</div>
<SliderIndex/>
</main>
</Layout>
<FooterOther/>
