---
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout isHomePage={false} title="RutaFinder-Paquetes">
    <h1>paquetes</h1>
    <Footer/>
</Layout>