---
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout isHomePage={false} title="RutaFinder-Restaurantes">
    <h1>restaurantes</h1>

 
 
    <Footer/>

</Layout>