---
import BentoItem from "./BentoItem.astro"
---

<section class="w-full max-w-[140px] grid grid-cols-10 auto-rows-[35rem] gap-4 mx-auto p-20">
        <BentoItem class="col-span-10 md:col-span-4"/>
        <BentoItem class="col-span-10 md:col-span-6"/>
        <BentoItem class="col-span-10 md:col-span-6"/>
        <BentoItem class="col-span-10 md:col-span-4"/>
</section>