<article class="flex bg-white rounded-2xl shadow-lg overflow-hidden max-w-md m-4">
    <header class="flex w-full">
       
        <img src="../img/hotel enterprice.png" alt="Hotel Enterprice" class="w-1/2 object-cover rounded-2xl">

        
        <div class="p-4 flex flex-col justify-between w-1/2">
            <strong class="text-lg font-semibold text-center">Hotel Enterprice</strong>
            <span class="text-sm text-gray-600 mt-2">
                Uno de los hoteles más lujosos de Cartagena ubicado al este, ofrece gran accesibilidad y vistas hermosas.
            </span>
            <div class="flex items-center mt-4">
                <span class="text-sm font-semibold mr-2">Ranking:</span>
                <img src="../img/Star.png" alt="estrellas" class="w-5">
                <img src="../img/Star.png" alt="estrellas" class="w-5">
                <img src="../img/Star.png" alt="estrellas" class="w-5">
                <img src="../img/Star.png" alt="estrellas" class="w-5">
                <img src="../img/Star.png" alt="estrellas" class="w-5">
            </div>
            <div class="flex justify-center">
                <button class="mt-4 bg-blue-500 text-white w-36 rounded-xl hover:bg-blue-600">
                    Más detalles
                </button>
            </div>
            
        </div>
    </header>
</article>
