<footer class="bg-gradient-to-r from-blue-500 to-blue-300 text-white py-4">
    <div class="container mx-auto text-center">
      <p class="text-sm">&copy; RutaFinder 2024, todos los derechos reservados</p>
    </div>
  </footer>