---
---
    <footer>
        <div class="container mx-auto px-6 grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="flex">
                <img src="../img/footer-imagen.png" alt="Viajeros saltando en la carretera" class="w-full h-full object-cover rounded-lg shadow-lg">
            </div>

            <div class="flex flex-col justify-center">
                <div class="grid grid-cols-1 sm:grid-cols-3 gap-6">

                    <div class="flex flex-col items-center text-center">
                        <img src="../img/conoce-mas-logo.png" alt="Viajeros saltando en la carretera">
                        <h2 class="text-xl font-bold text-gray-800">Conoce más</h2>
                        <ul class="mt-2 space-y-1 text-gray-600">
                            <li><a href="#" class="hover:text-blue-500">Excursiones</a></li>
                            <li><a href="#" class="hover:text-blue-500">Pasadías</a></li>
                            <li><a href="#" class="hover:text-blue-500">Viajes</a></li>
                            <li><a href="#" class="hover:text-blue-500">Redes sociales</a></li>
                        </ul>
                    </div>

                    <div class="flex flex-col items-center text-center">
                        <img src="../img/llama-ahora-logo.png" alt="Viajeros saltando en la carretera">
                        <h2 class="text-xl font-bold text-gray-800">Llama ahora</h2>
                        <ul class="mt-2 space-y-1 text-gray-600">
                            <li><a href="#" class="hover:text-blue-500">Nuestros asesores</a></li>
                            <li><a href="#" class="hover:text-blue-500">Preguntas comunes</a></li>
                            <li><a href="#" class="hover:text-blue-500">Más...</a></li>
                        </ul>
                    </div>

                    <div class="flex flex-col items-center text-center">
                        <img src="../img/contacto-logo.png" alt="Viajeros saltando en la carretera">
                        <h2 class="text-xl font-bold text-gray-800">Contacto</h2>
                        <ul class="mt-2 space-y-1 text-gray-600">
                            <li><a href="#" class="hover:text-blue-500">Reserva</a></li>
                            <li><a href="#" class="hover:text-blue-500">Pide tu viaje ya!</a></li>
                            <li><a href="#" class="hover:text-blue-500">Itinerarios</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="bg-gradient-to-r from-blue-500 to-blue-300 text-white py-4">
        <div class="container mx-auto text-center">
            <p class="text-sm">&copy; RutaFinder 2024, todos los derechos reservados</p>
        </div>
    </div>